html {
  background: url(images/neuron_background.png) no-repeat;
}

.kbd {
  position: absolute;
  top: 350px;
}

.kbd .row {
  text-align: center;
}

.kbd-btn {
  background-color: black;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 21px;
  line-height: 33px;
  margin: 0 1px 3px 0;
  text-align: center;
  width: 24px;
  -webkit-box-shadow: 2px 2px 2px #FCFCFC;
  box-shadow: 2px 2px 2px #FCFCFC;
}

.kbd-btn.bs {
  background: none;
  margin-left: 5px;
  position: absolute;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

.kbd-btn.bs img {
  height: 32px;
}

.crossword {
  margin: 0 auto;
  margin-top: -15px;
  padding: 0;
}

#btn {
  height: 25px;
  margin: 0 auto;
  margin-top: 4px;
  width: 250px;
  display: block;
  visibility: hidden;
}

tr.row {
  margin: 0;
  padding: 0;
}

td.cell {
  border: 1px solid black;
  background-color: white;
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

td.cell.black {
  background-color: #222;
}

td.cell.selectedword {
  background-color: #9FD0F6;
}

td.cell.selectedcell {
  background-color: yellow;
}

td.cell.correct {
  color: green;
}

td.cell.incorrect {
  color: red;
}